.App {
  text-align: center;
}

.font{
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  font-family: 'a';
}

.App-logo {
  height: 40vmin;
  margin-top: -10%;
  pointer-events: none;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

}
.Box{
  font-family: 'a';
  font-size: 100%;
  background-color: #454850;
  border:#454850;
  border-radius: 10px 10px 10px 10px;
  outline:none;
  color: #1d1d1d;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  
}
.ps{
  
  letter-spacing: -8px;
  font-family: 'a';
  font-size: 100%;
  background-color: #454850;
  border:#454850;
  border-radius: 10px 10px 10px 10px;
  outline:none;
  color: #1d1d1d;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  
}


.ps:focus{
  color: #161717;
  background-color: #767a83;
}

.Box:focus{
  color: #161717;
  background-color: #767a83;
}




@font-face {
  font-family: 'a';
  src: url('./pont/AppleSDGothicNeoB.ttf');
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  

}




 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}