








.Drag{
  -webkit-app-region: drag;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

  background-color: #242424;
  width: 100%;
  height: 20px;
}



.passwordlink:link {text-decoration: none; color: #605b7f;}
.passwordlink:visited {text-decoration: none; color: #605b7f;}
.passwordlink:active {text-decoration: none; color: #605b7f;}
.passwordlink:hover {text-decoration: underline; color: #7965f3;}

.passwordlink{
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  font-size: 50%;
  font-family: 'a';
  padding-left: 0;
  position: relative; top: 20px;
}

.font{
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  font-family: 'a';
  
  margin-top: 3px;
  font-size: 50;
}
.email{
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  font-family: 'a';
  font-size: 50%;
  
  position: relative; top: 10px;
}
.block{
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

  background-color: #2d2d31;
  width : 40%;
  
  border-radius: 20px;
  height: 50%;
}
.complete{
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  margin-top: 0%;
  color: #e3b5c7;
  
  outline:none;
  text-align: center;
  font-family: 'a';
  background-color: #8d3156;
  border:#8d3156;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 4px 16px #19191a;

  
  position: relative; top: 50px;
}
.complete:hover{
	background: #7f1f45;
	cursor: pointer;
}

.complete:active{
  background: #a9416a;
}
.password{
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  font-family: 'a';
  font-size: 50%;
  
  margin-top: -70px;
  position: relative; top: 10px;
}
.fontminecraft{
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  font-family: 'a';
  font-size: 50;
  margin-bottom: -50px;
}
.App-logo {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

  height: 20vmin;
  margin-top: -5%;
  pointer-events: none;

}
.Box{
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

  font-family: 'a';
  font-size: 100%;
  background-color: #454850;
  border:#454850;
  
  box-shadow: 0 4px 16px #19191a;
  border-radius: 10px 10px 10px 10px;
  outline:none;
  text-align: center;
  color: #1d1d1d;

}
.ps{
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  
  letter-spacing: -8px;
  font-family: 'a';
  font-size: 100%;
  background-color: #454850;
  border:#454850;
  text-align: center;
  
  box-shadow: 0 4px 16px #19191a;
  border-radius: 10px 10px 10px 10px;
  outline:none;
  color: #1d1d1d;

}


.ps:focus{
  color: #161717;
  background-color: #767a83;
}

.Box:focus{
  color: #161717;
  background-color: #767a83;
}




@font-face {
  font-family: 'a';
  src: url('./pont/AppleSDGothicNeoB.ttf');
}


.App{
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

  background-color: #f279be;
  text-align: center;

}

@-webkit-keyframes AnimationName {
  0%{background-position:4% 0%}
  50%{background-position:97% 100%}
  100%{background-position:4% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:4% 0%}
  50%{background-position:97% 100%}
  100%{background-position:4% 0%}
}
@keyframes AnimationName {
  0%{background-position:4% 0%}
  50%{background-position:97% 100%}
  100%{background-position:4% 0%}
}

.css-selector {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  
  background: linear-gradient(145deg, #f56387, #f083d8, #f58ede, #d4417e);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 7s ease infinite;
  -moz-animation: AnimationName 7s ease infinite;
  animation: AnimationName 7s ease infinite;



  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  
}




 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}