

.App{
  background-image: url('./icon/background.png');
	-webkit-animation: App 8s both;
	        animation: App 8s both;
}
@-webkit-keyframes App {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes App {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}













.passwordlink:link {text-decoration: none; color: #605b7f;}
.passwordlink:visited {text-decoration: none; color: #605b7f;}
.passwordlink:active {text-decoration: none; color: #605b7f;}
.passwordlink:hover {text-decoration: underline; color: #7965f3;}

.passwordlink{
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  font-size: 50%;
  font-family: 'a';
  padding-left: 0;
}

.font{
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  font-family: 'a';
  
  margin-top: 3px;
  font-size: 50;
}
.email{
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  font-family: 'a';
  font-size: 50%;
}

.complete{
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  margin-top: 0%;
  color: #e3b5c7;
  font-family: 'a';
  background-color: #903f5f;
  border:#903f5f;
  border-radius: 5px 5px 5px 5px;
  outline:none;
}
.complete:hover{
	background: #7f1f45;
	cursor: pointer;
}


.complete:active{
  background: #a9416a;
}
.password{
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  font-family: 'a';
  font-size: 50%;
  
  margin-top: -70px;
}
.fontminecraft{
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  font-family: 'a';
  font-size: 50;
  margin-bottom: -50px;
}
.App-logo {
  height: 20vmin;
  margin-top: -5%;
  pointer-events: none;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

}
.Box{
  font-family: 'a';
  font-size: 100%;
  background-color: #454850;
  border:#454850;
  border-radius: 10px 10px 10px 10px;
  outline:none;
  text-align: center;
  color: #1d1d1d;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

}
.ps{
  letter-spacing: -8px;
  font-family: 'a';
  font-size: 100%;
  background-color: #454850;
  border:#454850;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  outline:none;
  color: #1d1d1d;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  
}


.ps:focus{
  color: #161717;
  background-color: #767a83;
}

.Box:focus{
  color: #161717;
  background-color: #767a83;
}




@font-face {
  font-family: 'a';
  src: url('./pont/AppleSDGothicNeoB.ttf');
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  

}




 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}