
.default {
   
  
  background-color: #2c2b2c;


  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  
}
.play{
  font-family: 'font';
  position: relative;

  top: 30px;
  color: #ffffff;
  font-size: 60%;
  outline:none;
  text-align: center;
  background-color: #8d3156;
  border:#8d3156;

  z-index: 2;

  border-radius: 8px 8px 8px 8px;
  box-shadow: 0 4px 16px #1b1b1b;


}
.play:hover{
	background: #7f1f45;
	cursor: pointer;
}
.play:active{
  
	background: #991f50;
  box-shadow: none;
}
.github{
  z-index: 5;
  background: url( "./icon/github.svg" ) no-repeat;
  background-size: contain;
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: relative;
  top: 200px;

}
.option{
  z-index: 5;
  background: url( "./icon/option.svg" ) no-repeat;
  background-size: contain;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  top: 610px;
  left: 1000px;

}
.state{
   
  z-index: 1;
  background-color: #2d2d31;
  
  box-shadow: 0 4px 16px #121213;
  
  position: relative;
  top: 730px;
  width : 1200px;
  height: 120px;
}
.state img{
  position: relative;
  top: 45px;
  left: 390px;
}



.servers{
  z-index: 3;
  background-color: #2d2d31;
  box-shadow: 0 4px 16px #121213;
  position: relative;
  top: -260px;
  right: 500px;
  width : 200px;
  height: 1200px;
}

.serversTitle{
  z-index: 5;
  font-size: 70%;
  position: relative;
  right: 500px;
  
  text-shadow: 0 4px 16px #121213;
  top: 20px;
}








.App{
  font-family: 'font';

  background-color: #2c2b2c;
  text-align: center;

}












@font-face {
	font-family: 'font';
	src: url('./pont/AppleSDGothicNeoB.ttf');
  }




  @-webkit-keyframes AnimationName {
	0%{background-position:4% 0%}
	50%{background-position:97% 100%}
	100%{background-position:4% 0%}
  }
  @-moz-keyframes AnimationName {
	0%{background-position:4% 0%}
	50%{background-position:97% 100%}
	100%{background-position:4% 0%}
  }
  @keyframes AnimationName {
	0%{background-position:4% 0%}
	50%{background-position:97% 100%}
	100%{background-position:4% 0%}
  }