#back{
    background: #444444;
    outline: none;
    color: white;
    width: 70px;
    box-shadow: 0 2px 10px #121213;
    border-radius: 20px;
    height: 30px;
    border: none;
    font-size: 60%;
    position: relative;
    left: 500px;
    font-family: 'font';
}

#interfaceoption::after{
    content: "";
    
    position: absolute;
    top: 30px;
	left: -40px;
	border-width: 20px;
	border-style: solid;
	border-color: transparent #1a1a1a transparent transparent;
}

#interfaceoption{
    visibility: hidden;
    
    border: none;
    font-size: 70%;
    color: #bbbbbb;
    font-family: 'font';
    position: absolute;
    background: #1a1a1a;
    text-align: center;
    width: 470px;
    padding-top: 20px;
    padding-right: 75px;
    padding-left: 75px;
    border-radius: 15px;
    height: 470px;
    top: 90px
}

#interface{
    background: #444444;
    outline: none;
    color: white;
    width: 180px;
    border: none;
    font-size: 55%;
    height: 40px;
    font-family: 'font';
    
    box-shadow: 0 2px 10px #121213;
    border-radius: 10px;

    position: absolute;
    bottom: 480px;
    right: 990px;
}
#interface:hover{
    
    background: #5e5e5e;
}



#back:hover{
    background: #5e5e5e;
}
#line{

    border: none;
    outline: none;
    background: #444444;

    padding-left: 2px;
    position: relative;
    top: -30px;
    right: 350px;
    padding-top: 500px;

}

#default {
   
  
  background-color: #2c2b2c;


  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  
}

@font-face {
	font-family: 'font';
	src: url('./pont/AppleSDGothicNeoB.ttf');
  }


